langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

chromadb

sentence-transformers
transformers
torch

youtube-transcript-api

python-dotenv

tiktoken
pypdf